body, p {
  margin: 0%;
}

span.material-icons {
  cursor: pointer;
}

.shop-details {
  display: none;
  position: absolute;
  height: 489px;
  width: 700px;
  top: 100px;
  left: 230px;
  background-color: #ffffff;
}

.shop-details-image {
  width: 100%;
}

.shop-details-dek {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 18px;
  margin-top: 20px;
}

.sidebar {
  width: 230px;
  background-color: #ffffff;
  position: absolute;
  top: 100px;
  left: -230px;
  transition: 0.5s;
  padding-bottom: 40px;
}

.sidebar a {
  display: block;
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 20px 0 0 20px;
}

.sidebar .about-link {
  margin-top: 40px;
}

.searchbar {
  position: absolute;
  top: 35px;
  background-color: #ffffff;
  width: 100%;
  height: 64px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.searchbar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.searchbar-container input {
  width: 90%;
  border: none;
  border-bottom: 1px solid #000000;
}

.locations {
  display: none;
  position: absolute;
  bottom: -116px;
  left: 54%;
  width: 250px;
  opacity: 0;
}

.locations-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #ffffff;
}

.country {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  padding: 10px 20px;
  cursor: pointer;
}

.country:hover {
  background-color: #000000;
  color: #ffffff;
}

.top-banner {
  background-color: #000000;
  color :#ffffff;
  text-align: center;
  padding: 8px 0;
}

.top-banner p {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.navbar .logo {
  max-height: 65px;
}

.nav-container {
  display: none;
}

.nav-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0 10%;
}

.location {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
} 

.right-container .nav-item {
  margin: 0 7%;
}

.right-container .nav-icon {
  margin: 0 3%;
}

.highlight {
  background-color: #e9e9e9;
}

.highlight-hed {
  text-align: center;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  padding-top: 15px;
  margin-bottom: 20px;
}

.highlight-dek {
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-bottom: 20px;
}

.highlight-button {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight-button a {
  display: block;
  color :#ffffff;
  text-decoration: none;
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding: 15px;
  margin: 15px 10px;
  border-radius: 12px;
  font-size: 18px;
  letter-spacing: 1.6px;
  width: 250px;
}

.highlight-images img {
  width: 100%;
}

.perks {
  overflow: scroll;
  width: 100%;
}

.perks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 700px;
  justify-content: space-around;
}

.perks-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 215px;
  margin: 15px 20px;
}


.perks-item img{
  width: 115px;
  height: 100px;
}

.perks .hed {
  text-align: center;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
}

.perks .dek {
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.shop-container {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1px;
}

.shop-container a {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: #000000;
  width: 65%;
  margin: auto 0;
  margin-left: 20px;
  height: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.shop-container span {
  margin: auto 20px;
}

.shop-container img {
  width: 30%;
}


/* Desktop */
@media (min-width: 900px) {

  section {
    margin-bottom: 20px;
  }
  
  .nav-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .mobile-icons {
    display: none;
  }

  .highlight {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
  
  .highlight-images {
    width: 50%;
  }

  .highlight-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .highlight-hed, .highlight-dek {
    text-align: right;
    margin-right: 50px;
  }

  .highlight-button {
    justify-content: flex-end;
    margin-right: 50px;
  }

  .locations { 
    opacity: 1;
  }

  .shop {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 0 30px;
  }

  .shop-container {
    position: relative;
    padding: 20px 60px;
  }

  .shop-container a {
    position: absolute;
    top: 15px;
    left: 0;
  }

  .shop-container img {
    width: 100%;
  }
}